body {
	margin: 0;
	padding: 0;
	background-color: #282A36;
	color: #6C63FF;
}

h1 {
	width: 356px;
	font-family: Serif;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#divContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#calculatorDiv {
	border: double 3px #6C63FF;
	border-radius: 5px;
	padding: 10px;
}

#inCalc {
	border: double 3px #6C63FF;
	border-radius: 5px;
	margin: 10px;
	width: 346px;
	height: 80px;
	font-size: 40px;
	text-align: right;
	color: #FFFFFF;
	background-color: #282A36;
}

.numbers {
	margin: 3px;
	width: 80px;
	height: 80px;
	font-size: 30px;
	border-radius:5px;
	border: 0;
	background-color: #282A36;
	color: #6C63FF;
	cursor: pointer;
}

.numbers:hover {
	background-color: #6C63FF;
	color: #FFFFFF;
}

#number0 {
	margin: 3px;
	width: 170px;
	height: 80px;
	font-size: 30px;
	border-radius:5px;
	background-color: #6C63FF;
	color: #FFFFFF;
	cursor: pointer;
}

#number0:hover {
	background-color: #FF79C6;
}

img {
	margin: 10px;
	margin-top: 20px;
}

#theme {
	border-radius: 50px;
	width: 40px;
	height: 40px;
	color: #FFFF00;
	font-size: 30px;
	background-color: #282A36;
	border: 0;
	cursor: pointer;
}

#theme:hover {
	transform: scale(1.5);
}

.lightMode {
	background-color: #FFFFFF;
}

.lightMode .numbers {
	background-color: #FFFFFF;
}

.lightMode #inCalc {
	background-color: #FFFFFF;
	color: #000000;
}

.lightMode .numbers:hover {
	background-color: #6C63FF;
	color: #000000;
}

.lightMode #theme {
	background-color: #FFFFFF;
}
